.done {
    color: gray;
    text-decoration: line-through;
}

ul li {
    cursor: pointer;
}

ul li:hover {
    color: red;
}

.count-todo, .count-all {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
}
